<nav id="navbar">
    <img src="../assets/edanwura-logo-white.png" alt="logo" class="logo" />
    <div class="nav-list">
        <li><a id="home-link" href="../index.html">Home</a></li>
        <li><a id="about-link" href="../about.html">About Us</a></li>
        <li><a id="services-link" href="../services.html">Services</a></li>
        <li><a id="contact-link" href="../contact.html">Contact Us</a></li>
    </div>
</nav>
<nav id="mobile-drawer">
    <img src="../assets/edanwura-logo-white.png" alt="logo" class="logo" />
    <button class="menu-drawer" id="mobile-menu-button" type="button"><i class="fa fa-bars"></i></button>
    <div class="nav-list" id="nav-list-drawer">
        <ul>
            <li><a id="home-link" href="../index.html">Home</a></li>

            <li><a id="about-link" href="../about.html">About Us</a></li>

            <li><a id="services-link" href="../services.html">Services</a></li>

            <li><a id="contact-link" href="../contact.html">Contact Us</a></li>
        </ul>
        <span>&copy; edanwura-2023</span>
    </div>
</nav>