.Home-layout {
  --primary-bg-color: white;
  --secondary-bg-color: black;
  --primary-color: rgb(236, 95, 8);
}
.main-body {
  margin: 0;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 16px;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
}

.grid-container>img {
  width: 13rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-container>span {
  font-size: 3rem;
  font-weight: 800px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-container>p {
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 2rem;
}

.button {
  background-color: rgb(236, 95, 8);;
  border-radius: 8px;
  color: white;
  width: 17%;
  padding: 5px 5px;
}
a{
  position: relative;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  transition: 0.7s;
  text-decoration: solid;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:439px) {
  .main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 13px;
  }
 
  .right-container>span {
    font-size: 1rem;
    font-weight: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
  }
  
  .grid-container>img {
    width: 8rem;
  }
  
.right-container>p {
  font-size: 0.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 1.5rem;
}
  .button {
    background-color: rgb(236, 95, 8);;
    border-radius: 8px;
    color: white;
    width: 30%;
    padding: 5px 5px;
  }
}


@media screen and (min-width:440px) and (max-width:598px) {
  .main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .right-container>span {
    font-size: 1.5rem;
    font-weight: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
  }

  .right-container>p {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
  
.button {
  background-color: rgb(236, 95, 8);;
  border-radius: 8px;
  color: white;
  width: 30%;
  padding: 5px 5px;
}
  
}

@media screen and (min-width:599px) and (max-width:770px) {
  .main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .right-container>span {
    font-size: 1.8rem;
    font-weight: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8px;
  }

}

@media screen and (min-width:771px) and (max-width:1020px) {
  .main-body {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 12px;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.2rem;
  }
  .grid-container>img {
    width: 10rem;
  }
  .right-container>span {
    font-size: 2.5rem;
    font-weight:700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .right-container>p {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2rem;
  }
  
  .button {
    background-color: rgb(236, 95, 8);;
    border-radius: 8px;
    color: white;
    width: 25%;
    padding: 5px 5px;
  }
}