.Home-layout {
  --primary-bg-color: white;
  --secondary-bg-color: black;
  --primary-color: rgb(236, 95, 8);
}

.main-body {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 200px 200px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var;
}

.img {
  width: 80%;
  height: 80%;
}

.left-container {
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.left-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 200px 200px;
}

.right-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 200px 200px;
}

.right-container {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 80%;
}

.button {
  background-color: var(--primary-color);
}

.right-container h4,
.right-container p,
.right-container button {
  font-family: 'Times New Roman', Times, serif;
}